{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <center><h3>HOME</h3></center>
    <p><div style="border: 1px; float: left; width: 50%;">박정은</div>
    <div style="border: 1px; float: right; width: 15%;">
    {% if user.is_active %}
    {{ user.username }}님
    <a href="{% url 'logout' %}">logout</a>
    </div>
    </p>
    <div style="border: 1px; float: right; width: 15%;">               
    {% else %}
    <a href="{% url 'signup' %}">signup</a>
    <a href="{% url 'login' %}">login</a>
    {% endif %}
    </div>
    </p>
    <hr>
    <br><br>
    <center>
    {% for post in posts.all %}
        <div>
            {% if user.is_active %} 
            <h3 align="center"><a href="{% url 'detail' post.id %}">{{post.summary}}</a></h3> 
            {% else %} 
            <h3 align="center"><a href="{% url 'signup' %}">{{post.summary}}</a></h3> 
            {% endif %}
        </div> 
    {% endfor %}
    <br><br><br>
    <hr>
    <a class="btn btn-outline-secondary" href = "{% url 'new' %}" role="button">글쓰기</a>
    </center>
</body>